.wrap .cart_list dl {
  *zoom: 1;
}

.wrap .cart_list dl:before, .wrap .cart_list dl:after {
  content: " ";
  display: table;
}

.wrap .cart_list dl:after {
  clear: both;
}

.right_nav {
  position: fixed;
  top: 50%;
  right: 10px;
  width: 50px;
  margin-top: -170px;
  overflow: hidden;
  z-index: 999;
}

.right_nav a {
  float: left;
  width: 50px;
}

.right_nav .small {
  height: 50px;
  background-color: #1f1f20;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  width: 50px;
}

.right_nav > a:nth-of-type(1) {
  background-image: url(../img/icon-people.png);
}

.right_nav > a:nth-of-type(1):hover {
  background-image: url(../img/icon-people-hov.png);
}

.right_nav > a:nth-of-type(2) {
  background-image: url(../img/icon-heart.png);
}

.right_nav > a:nth-of-type(2):hover {
  background-image: url(../img/icon-heart-hov.png);
}

.right_nav > a:nth-of-type(4) {
  background-image: url(../img/icon-talk.png);
}

.right_nav > a:nth-of-type(4):hover {
  background-image: url(../img/icon-talk-hov.png);
}

.right_nav .cart_btn {
  padding: 45px 0 20px;
  background: #f85535 url(../img/icon-shop.png) no-repeat center 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.right_nav .cart_btn:hover {
  background-color: #ff7357;
}

.right_nav .cart_btn span {
  margin: 10px auto 0;
  display: block;
  font-size: 14px;
  color: #f85535;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

.right_nav .back_btn {
  text-align: center;
  color: #1f1f20;
  font-size: 14px;
  line-height: 14px;
  padding-top: 6px;
  background-color: #fff;
  padding-bottom: 6px;
}

.wrap {
  width: 1239px;
  margin: 0 auto;
}

.wrap .cart_list {
  margin-bottom: 43px;
}

.wrap .cart_list dl {
  margin: 29px 0;
}

.wrap .cart_list dt a {
  display: block;
  position: relative;
}

.wrap .cart_list dt img {
  width: 72px;
  height: 72px;
  border: 1px solid #ddd;
}

.wrap .cart_list dd {
  text-align: left;
  margin-left: 18px;
}

.wrap .cart_list dd h1 {
  width: 436px;
  display: block;
  font-size: 14px;
  color: #424242;
  font-weight: normal;
}

.wrap .cart_list dd h1 a {
  max-width: 400px;
  height: 20px;
  overflow: hidden;
  color: #424242;
}

.wrap .cart_list dd h2 {
  max-width: 400px;
  display: block;
  margin: 5px 0 10px;
  height: 18px;
  color: #666;
  font-weight: normal;
  overflow: hidden;
}

.wrap .cart_list td {
  background-color: #FFF;
  border-bottom: 1px solid #ededed;
  text-align: center;
  vertical-align: middle;
}

.wrap .cart_list td .stock {
  padding-top: 8px;
  color: #999;
}

.wrap .cart_list td .del {
  display: inline-block;
  width: 22px;
  height: 20px;
  padding-top: 2px;
  border-radius: 11px;
}

.wrap .cart_list td .del span {
  display: inline-block;
  width: 8px;
  height: 8px;
  overflow: hidden;
  background: url(../img/base.png) no-repeat -292px 0;
}

.wrap .cart_list table {
  width: 100%;
}

.wrap .cart_list table .discount {
  width: 100px;
}

.wrap .cart_list table .num {
  width: 200px;
}

.wrap .cart_list table .price {
  width: 150px;
}

.wrap .cart_list table .operation {
  width: 150px;
}

.wrap .cart_list table td {
  height: 54px;
  font-size: 14px;
  color: #666;
}

.wrap .cart_list table .state {
  width: 111px;
}

.wrap .cart_list table .state span {
  margin-right: 10px;
}

.wrap .cart_list table .state span label {
  cursor: pointer;
  position: absolute;
}

.wrap .cart_list .amount {
  margin-right: 0;
}

.checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #d4d4d4;
  background-color: #FFF;
  cursor: pointer;
}

.checkbox label:hover {
  background: #FFF url(../img/base.png) no-repeat -78px -116px;
}

.f_left {
  float: left;
}

.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.amount {
  display: inline-block;
  width: 78px;
  height: 22px;
  margin-right: 11px;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
}

.amount .reduce {
  background: url(../img/base.png) no-repeat -234px -97px;
}

.amount span {
  display: inline-block;
  width: 23px;
  height: 22px;
  vertical-align: middle;
  cursor: pointer;
}

.amount input {
  width: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 0;
  vertical-align: middle;
  font-size: 12px;
}

.amount .plus {
  background: url(../img/base.png) no-repeat -233px -132px;
}

.price {
  font-size: 20px;
  color: #e90404;
}

.total_bar {
  margin-top: 5px;
  height: 90px;
  line-height: 90px;
  padding: 0 32px 0 28px;
  background-color: #FFF;
  font-size: 14px;
  color: #666;
}

.total_bar .f_left span {
  margin-right: 10px;
}

.total_bar .f_left a {
  margin-left: 22px;
  color: #666;
}

.total_bar .f_left a:hover {
  color: #e90404;
}

.total_bar .f_right {
  position: relative;
  float: right;
}

.total_bar .f_right input {
  width: 188px;
  height: 50px;
  margin-left: 20px;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  color: #FFF;
  background-color: #e32332;
}

.total_bar .f_right #num {
  font-size: 24px;
}

.total_bar .f_right span {
  margin: 0 7px;
  color: #e90404;
}

.cart_null {
  height: 300px;
  line-height: 300px;
  margin-bottom: 40px;
  font-size: 18px;
  background-color: #FFF;
  color: #666;
  text-align: center;
}

.cart_null span {
  display: inline-block;
  width: 80px;
  height: 60px;
  margin-right: 14px;
  background: url(../img/base.png) no-repeat -78px -132px;
  vertical-align: -11px;
}

.cart_null a {
  padding: 0 5px;
  color: #e90404;
}
